<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <app-navbar></app-navbar>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Quiz:</h1>
          <p class="mb-4">Short Description of this Quiz</p>

          <!-- Cards for Questions -->

        </div>

      </div>
      <!-- End of Main Content -->

      <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <app-scroll-to-top-button></app-scroll-to-top-button>

  <app-logout-modal></app-logout-modal>
