<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-navbar></app-navbar>

      <!-- Begin Page Content -->
      <div class="container-fluid" *ngIf="!topicList || !topicList.length">
        <h1 class="h3 mb-0 text-gray-800">No Courses Available</h1>
      </div>
      <div class="container-fluid" *ngIf="topicList?.length">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" *ngIf="topicList && topicList.length">Available Topics</h1>
          <h1 class="h3 mb-0 text-gray-800" *ngIf="!topicList || !topicList.length">No Topics Available</h1>
          <span>
            <button class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm btn-icon-split"
              (click)="selectAll()" *ngIf="isAnyUnSelected">
              <span class="icon text-white-50">
                <i class="fas fa-square fa-sm text-white"></i>
              </span>
              <span class="text">Select All</span>
            </button>
            <button class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm btn-icon-split"
              (click)="unselectAll()" *ngIf="!isAnyUnSelected">
              <span class="icon text-white-50">
                <i class="fas fa-check-square fa-sm text-primary"></i>
              </span>
              <span class="text">Unselect All</span>
            </button>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-2" (click)="showQuizAddModal()"
              data-toggle="modal" data-target="#quizDetailsModal">
              <i class="fas fa-download fa-sm text-white-50"></i> Generate Quiz
            </button>
          </span>
        </div>
        <p class="mb-4">
          Select Topics to include in your Quiz. All topics under this course are
          included by default.
        </p>

        <!-- Content Row -->
        <div class="row">

          <div class="col-xl-3 col-md-6 mb-4" *ngFor="let topic of topicList">
            <app-topic-card [topic]="topic">
            </app-topic-card>
          </div>

        </div>

      </div>

    </div>
    <!-- End of Main Content -->

    <app-footer></app-footer>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<app-scroll-to-top-button></app-scroll-to-top-button>

<app-logout-modal></app-logout-modal>

<app-quiz-details-modal [selectAction]="selectAction" [topicList]="selectedTopics" (cancel)="clearModalData()"
  (confirm)="onModalConfirmed($event)" *ngIf="!!selectAction">
</app-quiz-details-modal>
