<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-navbar></app-navbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <!-- <h1 class="h3 mb-4 text-gray-800">Options</h1> -->
        <!-- <p class="mb-4">Short Description of a option</p> -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Options</h6>
            <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-primary text-white" title="Add a Option"
              data-toggle="modal" data-target="#optionDetailsModal" (click)="selectOneItem(null, 'create')">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          <div class="card-body">

            <div class="d-flex justify-content-between w-100 mb-2">
              <span class="d-flex flex-nowrap">
                Showing
                <select class="form-control form-control-sm mx-1" [(ngModel)]="tblStx.limit">
                  <option *ngFor="let opt of tblStx.limitOptions" [value]="opt">{{opt}}</option>
                </select>
                items
              </span>
              <span class="d-flex flex-nowrap">
                <input type="search" class="form-control form-control-sm" [(ngModel)]="searchFilter" />
              </span>
            </div>

            <div class="table-responsive border">

              <ngx-datatable #datatable [rows]="itemList | filterBy: { name: searchFilter }" class="bootstrap"
                [headerHeight]="tblStx.headerHeight" [limit]="tblStx.limit" [columnMode]="tblStx.columnMode"
                [footerHeight]="tblStx.footerHeight" [rowHeight]="tblStx.rowHeight" [trackByProp]="'_id'"
                [loadingIndicator]="tblStx.loadingIndicator" [scrollbarH]="tblStx.scrollbarH"
                [reorderable]="tblStx.reorderable">

                <ngx-datatable-column name="#" [flexGrow]="10" [maxWidth]="50" [cellClass]="'text-right'"
                  [headerClass]="'text-right'" [sortable]="false" [draggable]="false">
                  <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <strong>{{rowIndex + 1}}</strong>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Text Content" prop="text" [flexGrow]="70">
                </ngx-datatable-column>
                <ngx-datatable-column name="Is Correct?" prop="isCorrect" [flexGrow]="20"
                  [cellClass]="'text-center'" [headerClass]="'text-center'">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fas fa-check-square text-primary" *ngIf="row.isCorrect" aria-hidden="true"></i>
                    <i class="fas fa-square-full text-primary" *ngIf="!row.isCorrect" aria-hidden="true"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [sortable]="false" [flexGrow]="20" [maxWidth]="100"
                  [cellClass]="'text-center'" [headerClass]="'text-center'" [draggable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex w-100 justify-content-around">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#optionDetailsModal"
                        (click)="selectOneItem(row, 'view')">
                        <i class="fas fa-eye"></i>
                      </a>
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#optionDetailsModal"
                        (click)="selectOneItem(row, 'edit')">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#optionDetailsModal"
                        (click)="selectOneItem(row, 'delete')">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- End of Main Content -->

    <app-footer></app-footer>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<app-scroll-to-top-button></app-scroll-to-top-button>

<app-logout-modal></app-logout-modal>

<app-option-details-modal *ngIf="!!selectedItem" [selectedItem]="selectedItem" [selectAction]="selectAction"
  (confirm)="onModalConfirmed($event)" (cancel)="clearModalData()">
</app-option-details-modal>
