<div class="w-100">
  <div [class]="'card border-left-' + color + ' shadow h-100 py-2'">
    <div class="card-body text-decoration-none">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div [class]="'text-xs font-weight-bold text-' + color + ' mb-1'">
            {{userAnswer.question.text}}
          </div>
          <div class="text-xs font-weight-lighter text-secondary mb-1"
            *ngFor="let option of userAnswer.question.optionList; let idx=index;" (click)="toggleOption(idx)">
            <span>
              <i class="fas fa-square"
                *ngIf="!userAnswer.selectedOptionIndices.includes(idx)"></i>
              <i class="fas fa-check-square text-primary"
                *ngIf="!!userAnswer.selectedOptionIndices.includes(idx)"></i>
            </span>
            <span> {{option}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
